# Rust
backend/target/
backend/Cargo.lock
*.rs.bk

# SQLite database file (backend)
backend/purchases.db

# Python (Frontend)
*.pyc
*.pyo
*.pyd
frontend/__pycache__/
frontend/venv/
*.egg-info

# System files
.DS_Store
Thumbs.db

# IDE/editor files (if applicable)
.vscode/
.idea/
*.swp

# Database
./backend/dbs/
