.custom-modal .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}

.custom-modal .modal-content {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

.custom-modal .modal-header {
    border-bottom: none;
    padding: 20px;
    background-color: #0000FF;  /* light grey */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.custom-modal .modal-body {
    padding: 20px;
}

.custom-modal .modal-footer {
    border-top: none;
    padding: 20px;
    background-color: #f8f9fa;  /* light grey */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: flex-end;
}